@model SmartClinic.Models.UslugaKlinike

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UslugaKlinike</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrajanjeUsluge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrajanjeUsluge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cijena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UslugaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
