@model IEnumerable<SmartClinic.Models.SistemZaSkeniranjeQRKoda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusUredjaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LokacijaUredjaja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusUredjaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LokacijaUredjaja)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UredjajId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UredjajId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UredjajId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
