@model SmartClinic.Models.QRKod

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QRKod</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijednostKoda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijednostKoda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumGenerisanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumGenerisanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Termin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Termin.Vrijeme)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QRKodId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
